# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.log
springboot-backend/data/

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
frontend/dist/
frontend/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
vite.err.log
vite.out.log

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# IDE & OS
.DS_Store
Thumbs.db
